.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  display: flex;
  justify-content: center;
}
